
/* ------------Form styles---------- */
.formStyle{
    background-color: white;
    margin-top:8%;
    max-width: 65%;
    box-shadow: 10px 10px 10px #d3cece3b;
    width: auto;
    padding: 20px;
}

.formHeading{
    font-weight: 600;
    font-size: 20px;
    border-bottom-style: solid;
    border-width: thin;
    padding: 25px;
    margin-top: 14px;
    border-color: #d5d5d5;
    padding-bottom: 30px;
}
.labelStyle1{
    margin-left: 20px;
    color: 5c5959;
    font-size: 12px;
    text-align: left;
}

.formItems{
    margin-top:7%;
    background: #8080802b;
    padding: 25px;
}

#formLine{
    color: #707070;
    margin-bottom: 11px;
    font-size: 15px;
}

#formInput{
    padding: 17px;
    width: 100%;
    font-size: 13px;
    color: gray;
}

.errorColm23{
    border-color: #ffd7d7;
    border-width: thin;
    background: rgb(255, 246, 246);
    border-style: solid;
    padding: 5%;
    font-size: 15px;
    width: 88.2%;
    height: 101px;
    margin-top: 38px;
}

.fonticons{
    color: rgb(255, 72, 72);
    font-size: 35px;
    float: left;
    margin-right: 10px;
}


#optionStylings{
    padding: 30px 20px 10px 15px;
    color: #2e2c2c;
    background-color: transparent;
    margin-top: -27px;
}
.stylings{
    padding: 30px 20px 10px 20px;
    color: #757575;
    background-color: transparent;
    margin-top: -27px;
    width: 48.2%;
    border-style: solid;
    border-width: thin;
    border-color: darkgrey;
}

.labelStyle{
    margin-left: 20px;
    color: #5c5959;
    font-size: 12px;
}


.margintop10{
    margin-top: 10px;
}
.margintop22{
    margin-top: 35px;
}
.margintop45{
    margin-top: 41px;
}

.buttonStyling1{
    border-radius: 21px;
    width: 18%;
    padding: 10px;
    background: white;
    color: #0067db;
    border-color: darkgrey;
    margin-right: 27%;
}
.buttonStyling2{
    border-radius: 21px;
    width: 18%;
    padding: 10px;
    background: #0067db;
}

#backButton:hover{
    background: white;
    color: #0067db;
}